.card {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #e2d3d3;
    width: 100%;
    border-radius: 25px;
}

.card-center{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    background-color: #5fa3b4;
    border-radius: 25px;
}
 
.container {
    padding: 12px 16px;
    border-radius: 25px;
}
 
.display-middle{
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.Titel {
    font-family: 'Lucida Sans';
    font-size: 35px;
    font-weight: bold;
    color: #303030;
    text-align: center;
    margin-bottom: 20px;
}
 
.content {
    font-family:  'Lucida Sans Unicode';
    font-size: 12px;
    color: #303030;
    text-align: center;
}

.content-med {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #303030;
    text-align: center;
}

.text-white{
    color: #eee2e2;
}



.my-button {
    /* Green */
    /*float: left;*/
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
 
.my-button-center {
    /* Green */
    /*float: left;*/
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    position: center;
}

.btn-blue {
    background-color: #008CBA;
}
 
 
/* Blue */
 
.btn-red {
    background-color: #f44336;
}
 
 
/* Red */
 
.btn-black {
    background-color: #e7e7e7;
    color: black;
}
 
 
/* Gray */
 
.btn-yellow {
    background-color: #ff9b04fa;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inline {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 
.form-inline label {
    margin: 5px 10px 5px 0;
}
 
.form-inline input {
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
}
 
.form-inline button {
    padding: 10px 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}
 
.form-inline button:hover {
    background-color: royalblue;
}
 
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}
 